@model IEnumerable<PetServicce.Model.CartaoDeVacinacao>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVacina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdeicoVeterinário)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVacina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MdeicoVeterinário)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NomeDoPet">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NomeDoPet">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NomeDoPet">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
